
<div id= "editing_jobs">


<h1>Editing Job</h1>

<%= render 'form' %>
<br>
<%= link_to 'Back', jobs_path, :class => 'btn btn-info' %>
<%= link_to 'Show', @job, :class => 'btn btn-primary'  %> 
<br>
</div>