
<div id= "editing_jobs">

<div class = "container">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
    <div class = "col-sm-8 col-md-12">
<h1>Editing Job</h1>
<center>
<%= render 'form' %>
<br>
<%= link_to 'Back', jobs_path, :class => 'btn btn-info' %>
<%= link_to 'Show', @job, :class => 'btn btn-primary'  %> 
<br>
</center>
</div>
</div>
</div>
</div>
</div>
</div>