
<div id= "editing_jobs">
<div class = "container">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
    <div class = "col-sm-8 col-md-12">
<h2>New Job</h2>
<center>
<%= render 'form' %>
<br>
<%= link_to 'Back', jobs_path, :class => 'btn btn-info' %>
<center>
</div>
</div>
</div>
</div>
</div>
</div>