<div id="user-info">

 <% if current_user && (current_user.has_role? :admin) %>
	<h2>New Charity</h2>
<%end%>

 <% if current_user && !(current_user.has_role? :admin) %>
	
<%end%>
 <% if !(current_user) %>
	<h2>New Volunteer</h2>
<%end%>

		<div class="form-full">
			<div class="form-content">

				<%= render 'form' %>
			</div>
				<%= link_to 'Back', volunteers_path, :class => 'btn btn-info' %>

		</div>
</div>

