<div id="user-info">

<div class = "container">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
    <div class = "col-sm-8 col-md-12">

 <% if current_user && (current_user.has_role? :admin) %>
	<h2>New Charity</h2>
<%end%>

 <% if current_user && !(current_user.has_role? :admin) %>
	
<%end%>
 <% if !(current_user) %>
	<h2>New Volunteer</h2>
<%end%>

		<div class="form-full">
			<div class="form-content">

				<%= render 'form' %>
			</div>
				<%= link_to 'Back', volunteers_path, :class => 'btn btn-info' %>

		</div>
</div>
</div>
</div>
</div>
</div>
</div>

