<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>TFC</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="assets/favicon.ico">
</head><!--/head-->

<body>

  <!--.preloader-->
  <!--<div class="preloader"> <i class="fa fa-smile-o fa-spin"></i></div>-->
  <!--/.preloader-->


  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(<%= asset_path "slider/1.jpg" %>)">
            <div class="logo-on">
              <div class="animated fadeInDownBig">
                <center>
                 <%= image_tag("sliderlogo.png", :class => "img-responsive", :alt => "rss feed") %> 
                </center>
              </div>
            </div>
            <div class="caption">
            <h1 class="animated fadeInLeftBig">Welcome to <span>TFC</span></h1>
            <h6 class="animated fadeInRightBig">Time For Charity</h6>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#about-us">Learn more</a>
          </div>
        </div>
        <div class="item" style="background-image: url(../assets/slider/2.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"><span>Be a TFC </span>Charity</h1>
            <p class="animated fadeInRightBig"> </p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="charities">Enter as Charity</a>
          </div>
        </div>
        <div class="item" style="background-image: url(../assets/slider/3.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Be a TFC <span>Volunteer</span></h1>
            <p class="animated fadeInRightBig"> </p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="volunteers">Enter as Volunteer</a>
          </div>
        </div>
      </div>
      <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

      <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div><!--/#home-slider-->

  </header><!--/#home-->

<!--   <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">

          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
           <div class="text-center col-sm-8 col-sm-offset-2">
              <h2>About us</h2>
           </div>
           <div class="col-sm-6">
              <h3>
              <p>Time For Charity (TFC) acts as a platform for charities and volunteers to find each other. Volunteers are be able to sign up and create a profile. Here they will show their skills, interests and availability. 
              <p>Charities will be able to register on the application and not only search for volunteers with particular skills, but also post notices seeking volunteers for particular events etc.</p>
              <p>TFC makes volunteering more accessible for all ages who have some free time. Charities will save time searching for willing participants and will also save money by finding volunteers with particular skills for various events/projects.</p>
              <p>The aim of TFC is to help connect able, skillful students, adults and anyone with free time with charities in an easy accessible way.</p> 
              </h3>
          </div>
          </div>



        <div class="col-sm-6">        
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <p>
              <h4> Feel free to sign up as a charity or volunteer and join the donate your time TFC revolution! </h4>
            </p> 
          </div>
        </div>

        </div>
      </div>
    </div>
  </section> -->
  <!--/#about-us-->



  <script type="text/javascript" src="javascript/jquery.js"></script>
  <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascript/jquery.inview.min.js"></script>
  <script type="text/javascript" src="javascript/wow.min.js"></script>
  <script type="text/javascript" src="javascript/mousescroll.js"></script>
  <script type="text/javascript" src="javascript/smoothscroll.js"></script>
  <script type="text/javascript" src="javascript/jquery.countTo.js"></script>
  <script type="text/javascript" src="javascript/lightbox.min.js"></script>
  <script type="text/javascript" src="javascript/main.js"></script>

</body>
</html>