<!-- Edit code to change it to volunteers not volunteers
 -->

  <section id="volMenu">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Welcome Volunteer! </h2>
            <h4>If you're a new volunteer we welcome you to signup and create a profile.  </h4>
            <h4>If you're a returning volunteer please sign in! </h4>
          </div>
        </div> 
      </div>
      <div class="text-center our-volunteers">
        <div class="row">
          <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="volunteer-icon">
             <a class="sign-up" href="signup"><i class="fa fa-user-plus fa-3x"></i></a>
            </div>
            <div class="volunteer-info">
              <h2>Sign up</h2>
            </div>
          </div>
          <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="volunteer-icon">
           <a class="log-in" href="login"><i class="fa fa-sign-in fa-3x"></i></a>
            </div>
            <div class="volunteer-info">
              <h2>Login</h2>
            </div>
          </div>

            </div>
          </div>
        </div>



      </div>
    </div>
  </section>
  