
<div id="user-info">

<h2>Editing Charities</h2>

	<div class="form-full">
		<div class="form-content">			
			<%= render 'form' %>
		</div>
			<%= link_to 'Back', charities_path, :class => 'btn btn-info' %>
			<%= link_to 'Profile', @charity, :class => 'btn btn-primary' %> 

		
	</div>
</div>



