

<div id="user-info">

<h2>New Charity</h2>

	<div class="form-full">
		<div class="form-content">
			<%= render 'form' %>
		</div>
			<%= link_to 'Back', charities_path, :class => 'btn btn-info' %>

	</div>
</div>
