#charMenu{
  border-right:8px solid #FFFFFF;
  border-bottom:8px solid #FFFFFF;
  border-left:8px solid #FFFFFF;
  border-top:8px solid #FFFFFF;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: rgba(255,255,255,0.3) 
}


.char-header{
  margin-top: 30px;
  margin-bottom: 30px;
}

.button{
  margin-bottom: 1%;

}



.field{
  font-size: 22px;
  background-color: #fff;

}

.text_area{
  font-size: 22px;
  background-color: transparent;

}

 textarea.form-control {
 height: auto;
   line-height: 30px;
   background-color: transparent;
 }

.log-in{
  color: #fff;
}

.sign-up{
    color: #fff;
}

