#charMenu{
  
}


.panel{
  margin-top: 8%;
  max-width: 50%;
  margin-left:26%;


}


.char-header{
  margin-top: 30px;
  margin-bottom: 30px;
}

.button{
  margin-bottom: 1%;

}



.field{
  vertical-align: center;
  font-size: 22px;
  background-color: #fff;
  max-width: 50%;

}

.form-style textarea{
  font-size: 22px;
  background-color: transparent;


}

 textarea.form-control {
 height: auto;
   line-height: 30px;
   background-color: transparent;
 }

.log-in{
  color: #fff;
}

.sign-up{
    color: #fff;
}

