// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.field {
    color: #282634;
    font-size: 20px;
    width: inherit;
    padding: 2%;
    border-radius: 5px;
background-color: transparent;
}

.text-area{
	background-color: transparent;
}

.input{
	background-color: transparent;
	radius: 5px;
}



