// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#login-page {

}

.btn-actions {
  display: block;
  padding: 12px;
  width: 100%;
  color: #1C140D;
  border:5px;
  margin-bottom: 10px;
}

.login-fields{
  padding: 2%;
  width: 100%;
  margin-top: 3%;
  background-color: transparent;
  
}

.login-content{
  margin-bottom: 2%px;
}




