// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#login-page {
	margin-top: 12%;
 	margin-right: 30%;
	margin-left: 30%;
  margin-bottom: 10%;
	border-right:8px solid #FFFFFF;
	border-bottom:8px solid #FFFFFF;
  border-left:8px solid #FFFFFF;
  border-top:8px solid #FFFFFF;
  background-color: rgba(255,255,255,0.3) 
}

.btn-actions {
  display: block;
  padding: 12px;
  width: 100%;
  color: #1C140D;
  border:5px;
  margin-bottom: 10px;
}

.login-fields{
  padding: 8px;
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
  
}

.login-content{
  margin-bottom: 10px;
}




